body{
	background: white;
	margin: 0;
	font-family: 'Trebuchet','Trebuchet MS',Helvetica,Arial,Lucida,sans-serif;

}

/*HEADER*/
.HEADER{
	width: 100%;
	box-sizing: border-box;
	background: gray;
	padding: 1px;
	height: 95px;
	position: fixed;
	z-index: 1;
	font-weight: bold;
}
.nav{
	list-style: none;
	font-size: 20px;
}
.nav li{
	margin: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.nav a{
	color: black;
	text-decoration-line: none;
}
.logo img{
	width: 80px;
	height: 60px;
	border-radius: 10px;
	float: left;
}
.nav1,.nav2{
	float: right;
	border: 2px;
	border-right-style: solid;
}
.nav3{
	float: right;
}
#HEADER{
	height: 100px;
}

/*FOOTER*/
.footer{
	padding: 10px;
	margin: 20px;
	text-align: right;
	font-size: 12px;
	border-top: solid;
}
/*PRODUCTOS*/
.contenedor{
	width: 95%;
	height: 	auto	;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.panel{
	padding-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	width: 200px;
	height: 400px;
	background: gray;
	border-right: 20px solid black;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bolder;
	
}
.panel .categoryitem{
	width: 90%;
	display: block;
	margin-bottom: 5px;
	background: white;
	border: solid black;
	text-decoration: none;
	color: black;
	padding: 2px;
}

.categoryitem{
	text-align: center;
}

.productos{
	width: 100%;
	max-width: 1000px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.card{
	display: grid;
	grid-template-rows: 1fr 3fr;
	grid-column-gap: 10px;
	box-sizing: border-box;
	padding: 10px;
	transition: 0.6s;
}
.card a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-weight:bold;
	padding-top: 20px;
	text-align: center;
}
.card img{
	border-radius: 360px;
	width: 200px;
	overflow: hidden;
	transition: 0.6s;
}

.card img:hover{
	transform: scale(1.5);
	z-index: 1;
}
.active{
	background: skyblue;
}

/*BODY*/
.ENCUADRES{
	padding-top: 100px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	margin-bottom: 100px;
	border-top: solid;
	background-color: lightgray;
	box-sizing: border-box;
	width: 100%;
}
.ENCUADRES p{
	text-align: justify;
}
.tituloh{
	font-size: 30px;
}
.placeholder img{
	box-sizing: border-box;
	max-width: 1200px;
}
.ENCUADRES .placeholder{
	text-align: center;
}
.ENCUADRES .servicios{
	text-align: center;
}
.servicios{
	width: 100%;
	list-style: none;
}
.servicios li{
	display: inline;
	margin-left: 30px;
	margin-right: 30px;
}
.servicios li img{
	border-radius: 10px;
}
.map img{
	width: 90%;
	box-sizing: border-box;
	max-width: 1200px;
}