body{
	background: white;
}

/*HEADER*/
.logo img{
	width: 100px;
	border-radius: 360px;
	border-style: solid;
	border: 10px;
	box-sizing: border-box;
}

/*NAV*/

.nav{
	background: sandybrown;
	text-align: center;
	font-size: 20px;
	font-family: arial;
	box-sizing: border-box;
	border-style: solid;
	padding: 20px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	border-radius: 300px;
	border-width: 10px;
	border-left-width: 100px;
	border-right-width: 100px;
	top: 0px;
	width: 800px;
	height: 30px;
	position:fixed;
}
.menu li{
	list-style-type: none;
	width: 100%;
	clear: both;
}
.nav1 {
	float: left;
	border-right: solid;
	}
.nav2{
	float: left;
	clear: right;
}
.nav3{
	float: right;
	clear: right;
}

/*MUESTRA*/
.container{
	position: relative;
	margin-top: 120px;
	margin-left: 10%;
	background-color: white;
	border-radius: 10%;
	width: 100%;
	padding: 30px;
	border-bottom: 20px;
}
.muestra{
	position: relative;
	list-style: none;
}
.muestra li{
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity .5s;;
}
.muestra li img{
	width: 100%;
	height: 400px;
	object-fit: contain;
}
.muestra li:first-child{
	opacity: 1;
}
.muestra li:target{
	opacity: 1;
}
.slidemuestra{
	text-align: center;
	margin: 20px;
}
.slidemuestra li{
	display: inline-block;
	list-style: none;
}
.slidemuestra li a{
	display: inline-grid;
	border-radius: 70%;
	border-color: black;
	border-style: solid;
	margin: 10px;
	padding: 10px;
	background-color: darkgrey;
}

/*TITULOS SECCIONES*/
h2{
	border-radius: 300px;
	border-style: solid;
	background: sandybrown;
	border-right-width: 200px;
}
.tituloh{
	font-size: 30px;
	font-family: arial;
	margin: 40px;
	padding: 15px;
}

/*SERVICIOS LISTA*/
.servicios{
	text-align: center;
	margin: 20px;
}
.servicios li{
	list-style-type: none;
	display: inline;
}
.servicios li img{
	width: 250px;
	border-style: groove;
	margin: 40px;
}

/*ENCUADRES*/
.ENCUADRES{
	background: lightgray;
	border-style: solid;
	border-radius: 20px;
	border-width: 10px;
	border-color: brown;
	padding-bottom: 50px;
	margin: 50px;
}

/*PARRAFO*/
p{
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify;
}

/*FOOTER*/
.footer{
	padding: 10px;
	margin: 20px;
	text-align: right;
	font-size: 12px;
	border-top: solid;
}